body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

.contenedor{
    width: 350px;
    background: white;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    text-align: center;
    color: #333;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #005fa3;
}

h2{
    text-align: center;
    margin-top: 20px;
    color: green;
}